<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <img src="../../public/hectorlogo.png" class="w-[150px]" alt="">
  <!-- Logo Text -->
</a>
